@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");

body {
  font-family: "Lora", serif;
  background: transparent;
}
html {
  height: 100%;
  background-image: url("/authorization/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}
.nav {
  width: 85%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: #5a989e;
}

.nav a {
  text-decoration: none;
  margin: 30px;
  color: #fff;
}

.nav a:hover {
  color: #fff;
  transition: linear 0.5s;
}

.textbox {
  width: 80%;
  height: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
}

.text-area {
  height: 500px;
  width: 100%;
  min-width: 95%;
  max-width: max-content;
  max-height: 500px;
  min-height: 100px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
}
#reset-btn{
  margin-left: 0px;
}
#reset-btn, #portal-btn{  
  background-color: #2e7eed;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
#reset-btn:hover, #portal-btn:hover{  
  background-color: #0f3467;
  transition: linear 0.5s;
}



.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.basic {
  display: inline-block;
  padding: 10px;
}
.token-box {
  display: inline-block;
  margin-left: 10px;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #0f3467;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: defau;
}

.token-box span {
  font-weight: bold;
}

.token-box span {
  font-weight: bold;
}

.spin:before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  animation: spin 0.5s infinite linear;
  border: 6px solid #fff;
  border-left-color: #2e7eed;
  border-radius: 100%;
}
.basic:before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
  border: 6px var(#fff) solid;
  border-left-color: var(#2e7eed);
  border-radius: 100%;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.account-container {
  width: fit-content;
  max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
  margin: 0 auto;
	margin-top: 50px;
  margin-bottom: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	background-color: #fff;
}
.account-settings {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 500px;
}
.account-settings h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  flex-basis: 60%;
	padding: 20px;
	border-radius: 5px;
}
.account-settings label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.account-settings input {
  width: 100%;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.account-settings button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #2e7eed;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.email-container {
  display: flex;
  align-items: center;
}

.email-container a {
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #2e7eed;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none !important;
}
.email-container a:hover {
  background-color: #0f3467;
  transition: linear 0.5s;
}
.hidden {
  display: none;
}

.plan-information {
  display: flex;
  flex-direction: column;
}


.plan-information-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 20px;
  background-color: #2e7eed;
  flex-basis: 40%;
	border-radius: 5px;
}
.plan-information-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  flex-basis: 60%;
	border-radius: 5px;
  color: #fff;
  padding: 2px;

}
.plan-information-item {
	flex-basis: calc(50% - 20px);
  padding: 10px;
	margin-right: 20px;
	margin-bottom: 0px;
}
.plan-information-item.active {
  border: 3px solid #fff;
  border-radius: 5px;
}
.plan-information-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;

  }
  .plan-information-item p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #e0e0e0;

  }
  .plan-information-container {
  margin-left: 50px;
  width: 500px;
  }
  @media (max-width: 768px) {
  .account-settings, .plan-information-container {
  width: 100%;
  margin-left: 0;
  }
  .plan-information-container {
  margin-top: 20px;
  }
  }
  
  /* float settings and plan information containers */
  .account-settings, .plan-information-container {
  float: left;
  width: 50%;
  }
  .clearfix {
  clear: both;
  }